/* General Styling */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin: 0;
  font-family: "Roboto", serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
